@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.user-wrapper {
  display: flex;
  align-items: center;
  max-width: 50%;
  margin: auto;
  border: 1px solid black;
  padding: 1.5em;
}

.user-wrapper ul {
  list-style: none;
  text-align: left;
}

.field-title {
  font-weight: 700;
  display: inline-block;
  width: 200px;
  line-height: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
